#centered
{
    margin: 0 auto;
    margin-top: 150px;
    background-color: white;
    width: 40%;
    max-width: 700px;
    border: 2px solid #3f51b5;
}
svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


@media only screen and (max-width: 1400px) {
    #centered
    {
        width: 45%;
    }
}

@media only screen and (max-width: 1200px) {
    #centered
    {
        width: 55%;
    }
}
  
@media only screen and (max-width: 1000px) {
    #centered
    {
        width: 70%;
    }
  }

@media only screen and (max-width: 800px) {
    #centered
    {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    #centered
    {
        width: 100%;
    }
}