
  <div style="width: 75%; 
  background-color: #1e1e1e;">
  <p>testpage works!</p>
  <app-task-view></app-task-view>
  <app-task-add></app-task-add>

  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Slider configuration</h2>

      <section class="example-section">
        <label class="example-margin">Color: </label>
        <mat-radio-group>
          <mat-radio-button class="example-margin" value="primary">
            Primary {{color}}
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="accent">
            Accent {{zweiteProp}}
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="warn">
            {{zweiteProp}} 
          </mat-radio-button>
        </mat-radio-group>
      </section>
    </mat-card-content>
  </mat-card>
</div>